build/
log/
install/
__pycache__


testo/latex/cap/*.aux
testo/latex/*.bit 
testo/latex/*.blg 
testo/latex/*.bbl 
testo/latex/*.lof 
testo/latex/*.log 
testo/latex/*.lot 
testo/latex/*.glo 
testo/latex/*.glx 
testo/latex/*.gxg 
testo/latex/*.gxs 
testo/latex/*.idx
testo/latex/*.ilg 
testo/latex/*.ind 
testo/latex/*.out 
testo/latex/*.url 
testo/latex/*.svn 
testo/latex/*.toc
testo/latex/*.aux