build/
log/
install/
__pycache__


testo/latex/cap/*.aux
testo/latex/tesi.bit 
testo/latex/tesi.blg 
testo/latex/tesi.bbl 
testo/latex/tesi.lof 
testo/latex/tesi.log 
testo/latex/tesi.lot 
testo/latex/tesi.glo 
testo/latex/tesi.glx 
testo/latex/tesi.gxg 
testo/latex/tesi.gxs 
testo/latex/tesi.idx
testo/latex/tesi.ilg 
testo/latex/tesi.ind 
testo/latex/tesi.out 
testo/latex/tesi.url 
testo/latex/tesi.svn 
testo/latex/tesi.toc
testo/latex/tesi.aux
testo/latex/tesi-blx.bib
testo/latex/tesi.fdb_latexmk
testo/latex/tesi.synctex.gz
testo/latex/tesi.run.xml
testo/latex/tesi.fls
testo/latex/_minted-tesi